<p id="notice"><%= notice %></p>

<div class="checkout-summary  grid-container">
  <div class="checkout-summary-title grid-x grid-margin-x">
    <div class="">
    <h5><%= @profiles.count %>
      <% if @tutors %>
          Tutors
      <% else %>
          Profiles
      <% end %>
      
    </h5>
      
    </div>
  </div>

<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <%= render partial: 'profile_summary', collection: @profiles %>
  </div>
</div>
</div>

