<div class="nav-searchbar-wrapper">
    <form class="nav-searchbar" action="/gp/aw/s/ref=nb_sb_ss_i_0_10" method="get" role="search" id="nav-search-form" accept-charset="utf-8" style="width:calc(100% - 83px); display:inline-block;">
      <div class="nav-right">
        <div class="nav-search-submit">
          <input class="nav-input" value="Go" aria-label="Go" type="submit">
          <i class="nav-icon nav-sprite"></i>
        </div>
      </div>
      <div class="nav-fill">
        <div class="nav-search-field nav-search-show-clear">
          <input class="nav-input" placeholder="Search" aria-label="Type search keywords" data-aria-clear-label="Clear search keywords" name="k" autocomplete="off" autocorrect="off" autocapitalize="off" dir="auto" value="iphone" id="nav-search-keywords" type="text">
        <a class="nav-icon nav-sprite nav-search-clear" tabindex="0" href="javascript:;" aria-label="Clear search keywords"></a></div>
      </div>
    <input value="iphone cha" name="sprefix" type="hidden"><input value="2NTNDJG3HOAM7" name="crid" type="hidden"></form>
    <div id="nav-microphone" class="nav-afap-search">
      <a href="https://dl.amazon.com/r/ref=mm_dl_from_voicesrch?campaignId=AFAPVoiceSearch&amp;failureMode=UserSelect&amp;url=https%3A%2F%2Fwww.amazon.com%2Fappfeature%2Fvoicesearch" class="nav-sprite nav-afap-search-icon">Voice</a>
    </div>
    <div id="nav-camera" class="nav-afap-search">
      <a href="https://dl.amazon.com/r/ref=mm_dl_from_camsrch?campaignId=AFAPCameraSearch&amp;failureMode=UserSelect&amp;url=https%3A%2F%2Fwww.amazon.com%2Fproducts%3Fsearchtype%3Dflow" class="nav-sprite nav-afap-search-icon">Camera</a>
    </div>
  </div>