    		<div id="nav-subnav-toaster">
		      <% flash.each do |key, value| %>
		        <%= content_tag :div, class: "#{key} callout alert-callout-border", :data => { :closable => '' }  do -%>
		          <strong><%= key %></strong> - <%= value %>
		          <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
		            <span aria-hidden="true">&times;</span>
		          </button>
		        <% end %>
		      <% end %>
    			
    		</div>
