<div class="glow-subnav-template glow-mobile-subnav" id="nav-subnav-container">
    <div class="a-declarative" data-action="glow-sheet-trigger" id="nav-global-location-slot">
        <div class="nav-sprite" id="nav-packard-glow-loc-icon"></div>
        <div id="glow-ingress-block"><span class="nav-single-line" id="glow-ingress-single-line">Select a delivery location</span></div>
        <input data-addnewaddress="new" id="unifiedLocation1ClickAddress" name="addressID" value="new" type="hidden">
    </div>
</div>	
