<% content_for :title, 'HOME - High Performance Tutoring' %>

<h1>Apply to become a tutor</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi sequi vitae, natus nihil quis qui assumenda cupiditate est! Molestias sapiente dicta itaque aliquid at ipsa ea fuga impedit repudiandae est.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, nisi quis! Sequi sint ducimus, nihil voluptatum facere aliquid numquam libero officia, accusamus tempora laudantium. Nisi adipisci, delectus perspiciatis quidem qui? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus placeat iusto a consequuntur saepe. Et error magni nostrum iste necessitatibus laudantium rem neque, fugiat! Commodi amet dolor incidunt nobis quam!</p>