<% content_for :title, 'HOME - High Performance Tutoring' %>

<h1>Better Grades start with</h1>
<h2>High Performance Tutoring</h2>
<h3>Connect with neighborhood tutors</h3>
<a href="/tutors" class="button round">Connect with my tutor</a>

