<div class="container-fluid verticalpadlarge slate-bg">

  <div class="container become-a-tutor">
    <div class="col-md-6">
      <div class="twohundred white">
        <h2>Become a <span class="brand" style="font-size: 140%;">High Performance</span> Tutor</h2>
        <p class="lead">Apply now to see if you have what it takes to become a qualified tutor in your area.</p>
        <a href="/become_a_tutor" class="button">Apply Now</a>
      </div>
    </div>

  </div>
</div>