<div class="grid-container full features">
  <div class="grid-x grid-margin-x">
    <div class="cell small-4">
        <i class="fa fa-map-marker fa-4x" aria-hidden="true"></i>
        <h2>Amazing Local Tutors</h2>
        <p class="lead">We handpick only the best tutors in your area.</p>
    </div>
    <div class="cell small-4">
        <i class="fa fa-compass fa-4x" aria-hidden="true"></i>
        <h2>Anytime, Anyplace</h2>
        <p class="lead">Tutoring around your schedule. Our tutors come to you!</p>
	
    </div>
    <div class="cell small-4">
        <i class="fa fa-check fa-4x" aria-hidden="true"></i>
        <h2>Easy &amp; Guaranteed.</h2>
        <p class="lead">We handle payment and scheduling. Any Issues? We’ll make it right!</p>
	</div>
  </div>
</div>

