<!-- this is the second row in the small header -->
    <div class="grid-x grid-padding-x align-middle nav-searchbar-wrapper" id="searchbar">
    	<div class="cell auto">
    		<form class="nav-searchbar" action="/gp/aw/s/ref=is_s" method="get" role="search" id="nav-search-form" accept-charset="utf-8" style="display:inline-block;">
      			<div class="grid-x align-middle nav-right">
			      	<div class="nav-fill cell auto">
				        <div class="nav-search-field">
					          <input class="nav-input" placeholder="Search" aria-label="Type search keywords" data-aria-clear-label="Clear search keywords" name="k" autocomplete="off" autocorrect="off" autocapitalize="off" dir="auto" value="" id="nav-search-keywords" type="text">
					        <a class="nav-icon nav-sprite nav-search-clear" tabindex="0" href="javascript:;" aria-label="Clear search keywords"></a>
				    	</div>
			      	</div>
	      	        <div class="nav-search-submit cell shrink">
	          			<input class="button nav-input" value="Find Tutor" aria-label="Find Tutor" type="submit">
	        		</div>
      			</div>
    		</form>

    	</div>
<!-- 	    <div id="nav-microphone" class="nav-afap-search cell shrink">
	      <a href="https://dl.amazon.com/r/ref=mm_dl_from_voicesrch?campaignId=AFAPVoiceSearch&amp;failureMode=UserSelect&amp;url=https%3A%2F%2Fwww.amazon.com%2Fappfeature%2Fvoicesearch" class="nav-sprite nav-afap-search-icon"><%= fa_icon "microphone" %></a>
	    </div>
	    <div id="nav-camera" class="nav-afap-search cell shrink">
	      <a href="https://dl.amazon.com/r/ref=mm_dl_from_camsrch?campaignId=AFAPCameraSearch&amp;failureMode=UserSelect&amp;url=https%3A%2F%2Fwww.amazon.com%2Fproducts%3Fsearchtype%3Dflow" class="nav-sprite nav-afap-search-icon"><%= fa_icon "camera" %></a>
	    </div> -->
  	</div>