<div class="card cell medium-4 profile-summary-card">
  <div class="grid-x grid-margin-x">
    <div class="cell small-4 image-holder" style="padding: 8px">
      <%= image_tag profile_summary.user_photo_url, style: 'min-width: 64px;' %>
    </div>
    <div class="cell small-8 profile-summary-detail">
      <div class="profile-title">
        <%= link_to profile_summary.full_name, profile_summary %>
      </div>
      <div class="secondary-line">
        <h3><%= number_to_currency(Profile.convert_to_dollars(profile_summary.hourly_rate_in_usd)) %><small>/hr</small></h3>
      </div>
      <div class="bona-fides">
         <span class="slate">
          <i class="fa fa-graduation-cap" aria-hidden="true"></i> 
          <%= profile_summary.accreditation %>
        </span>
      </div>
    </div>
  </div>  
</div>